<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Things I've Learned</title>

	<link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
	<script src="js/scripts.js"></script>
		<h2>Some pockemon</h2>
		<table boarder="1">
		 <thead>
				<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Type</th>
						<th>Evolve</th>
				</tr>
		</thead>
		</table>

		<form action="https://www.youtube.com/results?search_query=love+lies&pbjreload=10" method = "GET">

			<label></label>
			 <input name ="username" type="text" placeholder = "username">

			 <input name ="password" type ="password" placeholder = "password">

			 <input type ="submit">
		</form>

		<p>Specify your gender</p>
			<form>
				<label for="male"> male:</label>
				<input name="gender"id = "male" type="radio" value="m">

				<label for="female"> female:</label>
				<input name="gender" id="female" type="radio" value="f">

				<select name="Race">
					<option>African</option>
					<option>Asian</option>
					<option>American</option>
					<option>Europian</option>
				</select>
					<button>Race</button>
			</form>


</body>
</html>